# 所有的Markdown文件
.trae/
.env
docs/
*/test_password.html
markdown/
practice/
homework/


**/*.mp4

oop/backup/
CLAUDE.md
cc-tmp-image/


oop/images/
GEMINI.md

# interview-guide/
on-java/
.claude/
.vscode/

# how to use claude code
how-to-use-claude-code/*-*/
how-to-use-claude-code/docs/
how-to-use-claude-code/prompts/
how-to-use-claude-code/resources/
how-to-use-claude-code/scripts/
how-to-use-claude-code/*.md

# how to use langgraph
.playwright-cli/

# how to use deepagents
how-to-use-deepagent/zh-cn/
how-to-use-deepagent/en/
how-to-use-deepagent/generated-images/




# llm tutorial with minimind
minimind/
!minimind/tutorial/
!minimind/images/

minimind-v/
!minimind-v/tutorial/
!minimind-v/images/

minimind-o/
!minimind-o/tutorial/
!minimind-o/images/


# foo
ai-diagram-gen.py